* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GENERAL */
/* *********************************** */
body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 25%;
}

.item.active {
  display: block;
}
/* *********************************** */

/* container general */
/* *********************************** */
.container {
  width: 98%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* *********************************** */

/* *********************************** */

/* ITEMS CONTAINER */
/* *********************************** */
.items-container {
  height: 400px;
  width: 80%;
}

.item {
  display: none;
  height: 100%;
  position: relative;
}

.item-text-content {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: right;
  color: #fff;
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.item-text-content h3 {
  margin-bottom: 5px;
}

/* NEXT AND PREV BUTTONS */
/* *********************************** */
.next-btn,
.prev-btn {
  position: absolute;
  background-color: rgba(211, 211, 211, 0.8);
  padding: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  transform: translateX(-50%);
}

.next-btn {
  bottom: 8px;
  left: 50%;
}

.prev-btn {
  top: 8px;
  left: 50%;
}
/* *********************************** */

/* THUMBNAILS */
/* *********************************** */
.thumbnails {
  width: 20%;
  height: 400px;
  position: relative;
}

.thumb-img {
  height: calc(100% / 5);
}

.selected-thumb {
  filter: brightness(0.2);
}
/* *********************************** */
